<h1>Youngest director</h1>
<div>
  <p>
  The youngest director now is <a href="/directors/<%= @the_youngest_id%>"><%= @the_youngest_name %></a>, born on <%= @latest_dob.strftime("%B %d, %Y") %>. 
  </p>
</div>
